body{
     
	 background-color:#aba78b;
	 background-image: url(https://cdn.pixabay.com/photo/2016/03/27/19/32/blur-1283865_960_720.jpg);
	 
	 
}

.quiz-container{
	width:600px;
	height:500px;
	margin:0 auto;
	padding:10px 50px 50px 50px;
	border-radius:50px;
	border:2px solid black;
	box-shadow:10px 15px 5px black;
	
}
.quiz-container::after,.quiz-container::before{
	content:'';
	clear:both;
	display:table;
}
.question-number,
.question,
.options,
.button,
.answers-traker{
	float:left;
	width:100%;
	
}
.question-number h3{
	color:#009688;
	border-bottom:1px solid #ccc;
	margin:0;
	padding:25px;
	font-size:25px;
	
}
.question{
	font-size:22px;
	color:000000;
	padding:20px 0;
	
}
.options div{
	background-color:#cccccc;
	font-size:16px;
	color:000000;
	margin-bottom:10px;
	border-radius:5px;
	padding:10px 15px;
	position:relative;
	overflow:hidden;
	cursor:pointer;
}
.options div.disabled{
     pointer-events:none;
}
.options div.correct{
	z-index:1;
	color:#fff;
}
.options div.correct::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:green;
	transform:translateX(-100%);
	z-index:-1;
	animation:animateBackground 1s ease;
	animation-fill-mode:forwards;
}
@keyframes animateBackground{
	0%{
	transform:translateX(-100%);
	}
	100%{
		transform:translateX(0%);
	}
}
.options div.wrong{
	z-index:1;
	color:#fff;
}
.options div.wrong::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:red;
	transform:translateX(-100%);
	z-index:-1;
	animation:animateBackground 1s ease;
	animation-fill-mode:forwards;
}
@keyframes animateBackground{
	0%{
	transform:translateX(-100%);
	}
	100%{
		transform:translateX(0%);
	}
}
.button .btn {
     padding:15px 50px;
     background-color:#009688;
     font-size:16px;
     color:#ffffff;
     border:none;
     border-radius:5px;
     cursor:pointer;
     display:inline-block;
     margin:15px 0 20px;
}
.answers-traker{
	border-top:1px solid #ccc;
	padding-top:15px;
}
.answers-traker div{
     height:40px;
	 width:40px;
	 background-color:#cccccc;
	 display:inline-block;
	 border-radius:50%;
     margin-right:5px;
}
.answers-traker div.correct{
	background-color:green;
	
}
.answers-traker div.wrong{
	background-color:red;
	}
.quiz-over{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	z-index:10;
	justify-content:center;
	align-items:center;
    display :none;                       ;
}
.quiz-over .show{
	display:flex;
}
.quiz-over .box{
	background-color:#009688;
	padding:30px;
	border-radius:10px;
	text-align:center;
	flex-basis:700px;
	max-width:700px;
	color:#ffffff;
}
.quiz-over .box h1{
	font-size:36px;
	margin:0 0 20px;
}
.quiz-over .box button {
	padding:15px 50px;
	border:none;
	background-color:#FF9800;
	border-radius:5px;
	font-size:16px;
	margin:15px 0 20px;
	color:#ffffff;
}
	
	
	
	
	